
.navbar-custom {
  background-color: #031d44;
}
.navbar-brand {
  color: white;
}
.col-md-12 {
  background-color: #04395e;
  color: white;
}

.body {
  background-color: whitesmoke;
  font-family: fantasy;
  font-variant: small-caps;
}

.well {
  background-color: #337ab7;
  color: black;
}

/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map {
  height: 600px;
}
